.App {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  background-color: rgb(236, 236, 236);
}

.container {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
